.movie-carousel {
    // position: relative;
    margin-top:60px;
    // z-index: -1;
    .carousel {
        .carousel-inner {
            height: 86vh;
            .carousel-item {
               height: 100%;
                
            }
        }
        
    }
    
}

.carousel-indicators li{
    margin: 10px !important;
    height: 12px !important;
    width: 12px !important;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #fb4226;
}