.movie-carousel {
    margin-top:60px;
    .carousel {
        .carousel-inner {
            height: 92vh;
            .carousel-item {
               height: 100%;
                
            }
        }
        
    }
    
}