@import "../../assets/css/base.scss";

.sideBar {
    top: 0;
    left: 0;
    width: 100%;

    .col-2 {
        height: 140vh;
        padding: 10px;
        border-right: 2px solid rgb(65, 63, 63);
        background: #313a46;

        .sideBar__content {
            .logo{
                padding-top: 10px;
                color: #fff;
                text-align: center;
                // font-family: 'Big Shoulders Inline Text', cursive;
            }
        }
    }
}